#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #94949496; /* Light grey */
}

.game {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 30px;
  min-height: 600px;
}

.square {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #000; 
  justify-content: center;
  align-items: center;
  font-size: 48px;
  cursor: pointer;
  border-radius: 0;
}

.status {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px
}

.board-row {
  display: flex;
}

.game-board {
  margin-right: 20px;
}
